#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60;
    height: 100vh;
    width: 100%;
    background-image: url(https://cdn.glitch.com/5e80d230-ba03-4257-a012-8034d727eb80%2FhomePageBackground.jpg?v=1591469085054);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  #searchControlContainer {
    display: flex;
    flex-direction: column;
  }
  #startButton {
    height: 120;
    font-size: 40;
    border-color: white;
    border-width: 5;
  }
  #title {
    font-size: 80;
    color: white;
    margin-bottom: 200;
  }
  #modal {
    background-color: pink;
  }
  
  @media only screen and (max-width: 800px) {
    #mainContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60;
      height: 100vh;
      width: 100%;
      background-image: url(https://cdn.glitch.com/5e80d230-ba03-4257-a012-8034d727eb80%2FhomePageBackground.jpg?v=1591469085054);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      flex-shrink: 0;
    }
    #title {
      font-size: 30pt;
      text-align: center;
      margin: auto;
    }
    #searchControlContainer {
      display: flex;
      flex-direction: column;
    }
    #startButton {
      height: 100;
      font-size: 20;
      border-color: white;
      border-width: 1;
    }
  }
  